# Pertemuan 1 - Tipe data & Operator Python

## How to print

In [81]:
print("Hello, World!")

Hello, World!

In [80]:
print(f"Hello, World!")

Hello, World!

## Komentar

In [74]:
# ini namanya komentar gaes!!!

"""
ini juga komentar gaes, tapi bisa banyak baris
ini juga komentar gaes, tapi bisa banyak baris
ini juga komentar gaes, tapi bisa banyak baris
ini juga komentar gaes, tapi bisa banyak baris
"""

print("Komentar tidak akan mengeluarkan output apapun")

Komentar tidak akan mengeluarkan output apapun

## Variable

Aturan Penulisan Variabel:
- Nama variabel boleh diawali menggunakan huruf atau garis bawah _. Contoh: nama, _nama, namaKu, nama_variabel
- Karakter selanjutnya dapat berupa huruf, garis bawah _ atau angka. Contoh: __nama, n2, nilai1
- Variabel tidak boleh dimulai dengan angka ataupun simbol.
- Variabel tidak boleh berupa kata kunci (keyword) yang ada dalam Python. Contoh: if, else, while, for, dan masih banyak lagi

In [84]:
# Variabel
Nama = "Rendika"
umur = 50
status_pernikahan = "Belum Menikah"
statuspernikahan = "Menikah"

# Tipe Data

In [23]:
# Tipe data
bilangan_bulat = 10
bilangan_desimal = 3.14
teks = "Halo, dunia!"
teks_multibaris = '''Rendika
dan
sayyid'''
boolean = True

# Menampilkan nilai variabel
print('Nama:', nama, 'dan Umur:', umur)
print(f"Nama: {nama} dan Umur: {umur}")
print('\n')
print(teks_multibaris)

Nama: Rendika dan Umur: 50
Nama: Rendika dan Umur: 50


Rendika
dan
sayyid

## MultiStatment Variabel

In [39]:
nama = "Sayyid"
a = 10; b = 50
kesibukan, keterangan = 'Berkuliah','Institut Teknologi Telkom Surabaya'

In [40]:
print(f"Nama saya {nama} dan Umur saya adalah {a+b} Tahun dan sedang {kesibukan} di {keterangan}")

Nama saya Sayyid dan Umur saya adalah 60 Tahun dan sedang Berkuliah di Institut Teknologi Telkom Surabaya

## Input dari Pengguna

In [126]:
nama = input("Masukkan nama Anda: ")
makan = 'sudah'
harga = int(input("Berapa harganya?: "))

print('\n')
print("Halo, aku", nama, 'dan aku', makan, 'makan ayam goreng yang harganya Rp', harga)

Masukkan nama Anda: habil
Berapa harganya?: 50000


Halo, aku habil dan aku sudah makan ayam goreng yang harganya Rp 50000

## Import Modul

In [56]:
# import seluruh modul
import pandas as pd

In [131]:
import numpy

In [57]:
# import beberapa komponen di modul
from math import sqrt
from pandas import DataFrame
from numpy import random

## Percabangan

In [135]:
nilai = int(input("Masukkan nilaimu: "))

if nilai >= 70:
    print("Selamat anda lulus MatKul Algoritma & Pemrograman!")
elif nilai == 20:
    print('Semoga Lulus')
else:
    print("Maaf anda tidak lulus")

Masukkan nilaimu: 20
Semoga Lulus

## Looping and While

In [138]:
for i in range(1,5):
    print(i)
    print('Namaku',i)

1
Namaku 1
2
Namaku 2
3
Namaku 3
4
Namaku 4

In [141]:
names = ['Rendika',"Sayyid","Habil","Arifin"]
for name in names:
    print("Nama Saya",name)
    print("Ini cuman nyoba",name)

Nama Saya Rendika
Ini cuman nyoba Rendika
Nama Saya Sayyid
Ini cuman nyoba Sayyid
Nama Saya Habil
Ini cuman nyoba Habil
Nama Saya Arifin
Ini cuman nyoba Arifin

## Fungsi

In [143]:
def jumlah(angka1, angka2):
    hasil = angka1+angka2
    return hasil

def pengurangan(angka1, angka2):
    hasil = angka1-angka2
    return hasil

In [144]:
jumlah(10,4)

14

In [146]:
pengurangan(10,15)

-5

# Latihan soal 
cara yang baik untuk mempraktikkan apa yang telah Anda pelajari.
Berikut adalah beberapa contoh soal yang mudah:

Kenalin diri kalian menggunakan beberapa aspek diatas. lalu kumpulkan ke-link berikut :

1. Buatlah sebuah program Python untuk menghitung luas segitiga dengan rumus luas = 0.5 * alas * tinggi.
2. Tulis program Python yang meminta pengguna untuk memasukkan dua angka dan menampilkan hasil penjumlahan keduanya.
3. Buatlah program Python yang mengubah suhu dalam derajat Celsius menjadi derajat Fahrenheit.
4. Tulis program Python untuk menghitung rata-rata dari tiga angka yang dimasukkan oleh pengguna.
5. Buat program Python sederhana yang menghitung luas dan keliling persegi.

In [86]:
pri

NameError: name 'pri' is not defined

In [88]:
print("'sayyid'")

'sayyid'

In [89]:
print('"sayyid"')

"sayyid"

In [91]:
print("")

\

In [92]:
print('\\')

\

In [93]:
"5"*2

'55'

In [103]:
lima = float(5)
lima

5.0

In [104]:
ini untuk mengalikan luas segitiga dengan kotak
luas_segitiga_kotak = 1/2 * a * t * s ** 2

SyntaxError: invalid syntax (1185393922.py, line 1)

In [111]:
# Operator perbandingan
# a
x = 10
z = 15
g = x == z
h = a != b
i = a >= b
j = a <= b

print(g)

False

In [115]:
# logika dan

a = "Habil"
b = "Arifin"
c = "Sayyid"
d = "Rendika"

a = d == "Habil"
b = c == "Arifin"

hasil = a and b
hasil

False

In [ ]:
kelas = "Arifin"

In [118]:
# Input
nama = input("Masukkan nama Anda: ")

# Output
prodi = "sains data"
print("Nama Anda adalah", prodi)

Masukkan nama Anda: Farrel
Nama Anda adalah sains data

In [125]:
# Input
# name = "Farrel"
name = input("Nama lu tuh siapa? ")

# Output
print("ohh jadi namamu", name)

Nama lu tuh siapa? Mikha
ohh jadi namamu Mikha

In [ ]:
Coba buatkan aku sebuah pekenalan singkat tentang diri kalian sendiri yang berisikan:
    
nama
umur
kelas
NIM
nomor hp
Alasan masuk ke Sains Data

In [149]:
nama = "Rendika"
Umur = "17"

print('Nama saya',nama)
print(f'umur saya{Umur}')

Nama saya Rendika
umur saya17

In [151]:
Nomorhp = 6281998396111
nama = "Rendika"


Datadiri = [Nomorhp,nama]
print("Nama Saya",Datadiri[0])
print("Ini cuman nyoba",Datadiri[1])

Nama Saya 6281998396111
Ini cuman nyoba Rendika